.app {
  min-height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tasks-container {
  width: 600px;
  max-width: 100%;
}
.task {
  display: flex;
  align-items: center;
  margin: 4px 0px 4px 0px;
}
.task__text {
  flex: auto;
  margin-left: 5px;
}
.task__text--completed {
  text-decoration: line-through;
  color: lightgrey;
}
.task__button {
  margin: 0px 2px 0px 2px;
}
